Repository ephemeras246/white-block: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat(all): 初始化代码结构
  docs/vite.config.ts
Due: eslint

feat(all): 初始化代码结构
  docs/.vitepress/config/build.ts
  docs/vite.config.ts
Due: eslint

feat(all): 初始化代码结构
  docs/.vitepress/config/build.ts
  docs/.vitepress/config/index.ts
Due: eslint

feat(all): 初始化代码结构
  .github/workflows/gh-pages.yml
Due: none

feat(all): 初始化代码结构
  docs/.vitepress/config/build.ts
  docs/.vitepress/config/index.ts
  docs/package.json
Due: eslint

feat(all): 初始化代码结构
  pnpm-lock.yaml
Due: none

feat(all): 初始化代码结构
  docs/.vitepress/config/index.ts
  docs/src/plugins/md.ts
Due: eslint

feat(all): 初始化代码结构
  docs/.vitepress/config/build.ts
  docs/.vitepress/config/index.ts
  docs/package.json
  docs/src/plugins/md.ts
  pnpm-lock.yaml
Due: eslint

feat(docs): 更新文档
  .github/workflows/gh-pages.yml
Due: none

feat(docs): 更新文档
  docs/src/components/ComponentOverview.vue
  docs/src/layouts/wb/DocHeader.vue
Due: eslint

feat(docs): 更新文档
  docs/dist/404.html
  docs/dist/assets/app.90418f54.js
  docs/dist/assets/app.bafc7390.js
  docs/dist/assets/chunks/index.135d31de.js
  docs/dist/assets/chunks/index.2c785acc.js
  docs/dist/components/button.html
  docs/dist/components/index.html
  docs/dist/components/popup.html
  docs/dist/components/space.html
  docs/dist/guide/index.html
  docs/dist/hashmap.json
  docs/dist/index.html
Due: prettier --write, eslint

feat(docs): 更新文档
  .changeset/chilled-gorillas-trade.md
  .github/workflows/gh-pages.yml
  .gitignore
  docs/dist/404.html
  docs/dist/components/button.html
  docs/dist/components/index.html
  docs/dist/components/popup.html
  docs/dist/components/space.html
  docs/dist/guide/index.html
  docs/dist/hashmap.json
  docs/dist/index.html
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/resolver/CHANGELOG.md
  packages/resolver/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: prettier --write

feat(docs): 更新文档
  docs/dist/404.html
  docs/dist/components/button.html
  docs/dist/components/index.html
  docs/dist/components/popup.html
  docs/dist/components/space.html
  docs/dist/guide/index.html
  docs/dist/hashmap.json
  docs/dist/index.html
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/resolver/CHANGELOG.md
  packages/resolver/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: prettier --write

feat(docs): 更新文档
  pnpm-lock.yaml
Due: none

feat(docs): 更新文档
  docs/.vitepress/theme/index.ts
  docs/content/components.d.ts
  docs/package.json
  docs/vite.config.ts
  pnpm-lock.yaml
Due: eslint

feat(docs): 更新文档
  docs/package.json
Due: none

feat(docs): 更新文档
  docs/package.json
  pnpm-lock.yaml
Due: none

feat(docs): 更新文档
  docs/content/components.d.ts
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/resolver/CHANGELOG.md
  packages/resolver/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.md) or (any of: *.{less,css,html})
  eslint: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
